---
import Main from "../layouts/Main.astro";

interface Link {
  url: string;
  text: string;
  icon: string | null;
}

const links: Link[] = [
  {
    url: "https://linkedin.com/in/oniguy4649",
    text: "LinkedIn",
    icon: null,
  },
  {
    url: "https://github.com/oniguy4649",
    text: "GitHub",
    icon: null,
  },
  {
    url: "https://instagram.com/oniguy4649",
    text: "Instagram",
    icon: null,
  },
  {
    url: "https://youtube.com/channel/oniguy4649",
    text: "YouTube",
    icon: null,
  },
  {
    url: "https://reddit.com/user/oniguy4649",
    text: "Reddit",
    icon: null,
  },
  {
    url: "https://tiktok.com/oniguy4649",
    text: "TikTok",
    icon: null,
  },
  {
    url: "https://x.com/oniguy4649",
    text: "X (formerly Twitter)",
    icon: null,
  },
  {
    url: "https://discord.gg/oniguy4649",
    text: "Discord",
    icon: null,
  },
];
---

<Main class="bg-black" title="Links" description="Socials and other stuff">
  <div class="flex flex-col items-center">
    <div class="mb-4">
      <img
        src="https://avatars.githubusercontent.com/u/141185356"
        alt=""
        class="w-24 h-24 rounded-full object-contain"
      />
    </div>
    <h1
      class="text-lg font-bold text-black dark:text-white text-center leading-relaxed mx-3 break-words"
    >
      oniguy4649
    </h1>
    <h2
      class="text-sm text-dark darK:text-white text-center leading-relaxed mt-0.5 px-6 font-medium md:text-base"
    >
      socials and other stuff ( ^ω^ )
    </h2>
  </div>

  <div class="flex flex-col gap-4 mt-8 w-full max-w-[584px] mx-auto">
    {
      links.map((link) => (
        <a
          href={link.url}
          target="_blank"
          rel="noopener"
          class="relative h-16 flex items-center justify-center w-full p-4 border-2 border-zinc-400 dark:border-zinc-600 rounded-lg bg-zinc-100 dark:bg-zinc-900 text-zinc-800 dark:text-zinc-200 text-sm font-medium hover:bg-zinc-300 dark:hover:bg-zinc-800 hover:text-black dark:hover:text-white md:text-base"
        >
          {link.icon && (
            <img
              src={link.icon}
              alt=""
              class="w-[46px] h-[46px] rounded object-cover absolute left-2 top-1/2 transform -translate-y-1/2 pointer-events-none"
            />
          )}
          <p class="flex-1 text-center leading-relaxed">{link.text}</p>
        </a>
      ))
    }
  </div>
</Main>
