---
import ThemeToggle from './ThemeToggle.astro'
---

<header class="flex h-12 w-full items-center justify-between">
  <a href="/" aria-label="oniguy4649">
    <div class="text-2xl font-semibold">oniguy4649</div>
  </a>

  <div class="flex items-center gap-6">
    <ThemeToggle />
  </div>
</header>
