---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import BaseLayout from "./Base.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <body class={Astro.props.class}>
    <Header />
    <Nav />
    <slot />
  </body>
</BaseLayout>
