---
import Main from "./Main.astro";
const { frontmatter } = Astro.props;
---

<Main title={frontmatter.title} description={frontmatter.description}>
  <article class="prose prose-stone dark:prose-invert max-w-none">
      <slot />
  </article>
</Main>
